* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 600px;
  min-height: 100%;
}

.clearfix {
  clear: both;
}

.clr {
  height: 800px;
}

.header {
  min-height: 200px;
  background-color: #36a690;
}

.menu li {
  list-style-type: none;
  width: 100px;
  height: 50px;
  border: 1px solid;
  float: left;
}

.nav {
  background-color: #d9684c;
  float: left;
  height: 300px;
  width: 200px;
}

.main {
  display: flow-root;
}

.main .block {
  width: 30%;
  height: 300px;
  outline: 1px solid;
  float: left;
  margin: 1% 1.5%;
}

.footer {
  background-color: #e19769;
  height: 200px;
  width: 1200px;
}

@media screen and (min-width: 1200px) {
  .header {
    background-color: #beeee6;
  }
}
@media screen and (max-width: 600px) {
  .main .block {
    width: 45%;
    margin: 2% 2.5%;
  }
  .menu li {
    float: none;
  }
}
